# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Ignore the build directory and all its contents
build/
!build/build.xml  # Allow build.xml to be tracked

# Ignore the .idea directory and all its contents
.idea/

# Ignore Gradle files
.gradle/
*.gradle
gradle-wrapper.jar
gradle-wrapper.properties